body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
  }
  .nav-center{
    background: #000;
    border-radius:10px ;
    height: 40px;
  }
 
  .back-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .back-button:hover {
    background-color: #555;
  }
  
  .copy-format {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .sound-on {
    font-size: 14px;
    color: #333;
  }

.maincard{
width: 100%;
height: 100%;
display: flex;
}
.maincard .card1{
width: 20%;
height: 140px;
color: #ff9ff3 ;
background-color: #ff9ff3;
}

.card1 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card1 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card2{
width: 20%;
height: 140px;
background-color: #feca57;
color: #feca57;
}
.card2 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card2 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card3{
width: 20%;
height: 140px;
background-color: #ff6b6b;
color: #ff6b6b;
}
.card3 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card3 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card4{
width: 20%;
height: 140px;
background-color: #48dbfb;
color: #48dbfb;
}
.card4 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card4 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card5{
width: 20%;
height: 140px;
background-color:#1dd1a1;
color:#1dd1a1;
}
.card5 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card5 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card6{
width: 20%;
height: 140px;
background-color:#f368e0;
color:#f368e0;
}
.card6 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card6 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card7{
width: 20%;
height: 140px;
background-color:#ff9f43;
color:#ff9f43;
}
.card7 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card7 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card8{
width: 20%;
height: 140px;
background-color:#ee5253;
color:#ee5253;
}
.card8 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card8 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card9{
width: 20%;
height: 140px;
background-color:#0abde3;
color:#0abde3;
}
.card9 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card9 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card10{
width: 20%;
height: 140px;
background-color:#10ac84;
color:#10ac84;
}
.card10 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card10 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card11{
width: 20%;
height: 140px;
background-color:#00d2d3;
color:#00d2d3;
}
.card11 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card11 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card12{
width: 20%;
height: 140px;
background-color:#54a0ff;
color:#54a0ff;
}
.card12 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card12 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card13{
width: 20%;
height: 140px;
background-color:#5f27cd;
color:#5f27cd;
}
.card13 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card13 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card14{
width: 20%;
height: 140px;
background-color:#c8d6e5;
color:#c8d6e5;
}
.card14 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card14 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card15{
width: 20%;
height: 140px;
background-color:#576574;
color:#576574;
}
.card15 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card15 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card16{
width: 20%;
height: 140px;
background-color:#01a3a4;
color:#01a3a4;
}
.card16 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card16 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card17{
width: 20%;
height: 140px;
background-color:#2e86de;
color:#2e86de;
}
.card17 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card17 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card18{
width: 20%;
height: 140px;
background-color:#341f97;
color:#341f97;
}
.card18 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card18 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card19{
width: 20%;
height: 140px;
background-color:#8395a7;
color:#8395a7;
}
.card19 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card19 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}
.maincard .card20{
width: 20%;
height: 140px;
background-color:#222f3e;
color:#222f3e;
}
.card20 p:hover{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    justify-content: center;
    display: flex;
}
.card20 h3{
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-top: 60px;
}


@media screen and (max-width:768px) {
    h3{
        font-size: 15px;
    } 
}
@media screen and (max-width:426px) {
    h3{
        font-size: 7px;
        margin-top: 30px;
    } 
    .nav-center{
        display: none;
    }
}